
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas, #canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#canvas2 {
  z-index: 0;
  background: linear-gradient(to right top, #f8f39d, #c0f1f8);
}

body {
  overflow-x: hidden;  
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: darkcyan;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6cddeb;
  text-align: center;
}

.container, .titleContainer {
  opacity: 0;
  position: fixed;
  right: 0%;
  bottom: 10%;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
}

.container{
  bottom: -50%;
}

.titleContainer {
  opacity: 1;
}

.glass, .glassTitle {
  z-index: 1;
  min-height: 50vh;
  width: 50%;
  background: linear-gradient(to right bottom, 
  rgba(255,255,255,1), 
  rgba(255,255,255,0.8));
  border-radius: 1rem;
  border: 1px solid rgb(164, 180, 248);
  box-shadow: 10px 3px 79px -21px rgba(0,0,0,0.54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassTitle {
  min-height: 15rem;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
}

.responsive-bar{
  display: none;
}
nav{
  background: linear-gradient(to right bottom, 
  rgba(255,255,255,1), 
  rgba(255,255,255,0.8));
  box-shadow: 10px 3px 79px -21px rgba(0,0,0,0.54);
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.black{
  background: linear-gradient(to right bottom, 
  rgba(255,255,255,1 ), 
  rgba(255,255,255,0.8));
  box-shadow: 10px 3px 79px -21px rgba(0,0,0,0.54);  height: 80px;
  padding: 10px 50px;
}
nav .logo{
  float: left;
}
nav .logo img{
  height: 80px;
  transition: .5s;
}
nav.black .logo img{
  height: 60px;
}
nav > ul{
  margin: 0 auto;
  padding: 0;
  float: right;
}
nav > ul > li{
  list-style: none;
  display: inline-block;
}
nav > ul > li > a:hover{
  background: #f00;
  color: #fff;
}
nav > ul > li > a{
  color: #262626;
  text-decoration: none;
  text-transform: uppercase; /*for capitalisation of letters */
  line-height: 80px;
  padding: 5px 20px;
  transition: .5s;   
}
nav.black > ul > li > a{
  color: #fff;
  line-height: 60px;
}
.active {
  background: linear-gradient(to right bottom, 
  rgb(251, 155, 155), 
  rgba(254, 72, 72, 0.8));;
}

@media(max-width:768px){
  .responsive-bar{
      display: block;
      width: 100%;
      height: 60px;
      background: #262626;
      position: fixed;
      top: 0;
      left: 0;
      padding: 5px 20px;
      box-sizing: border-box;
      z-index: 1;
  }
  .responsive-bar .logo img{
      float: left;
      height: 50px;  
  }
  .responsive-bar .menu h4{
      float: right;
      color: #fff;
      margin: 0;
      padding: 0;
      line-height: 50px;
      cursor: pointer;
      text-transform: uppercase;
  }
  nav{
      padding: 0;
  }
  nav,
  nav.black{
  background: #262626;
  height: 60px;
  padding: 0;
  }
  nav .logo{
      display: none;
  }
  nav ul{
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      background: #262626;
      float: none;
      display: none;
  }
  nav ul.active{
      display: block;
  }
  nav ul li{
      width: 100%;
  }
  nav ul li a{
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      line-height: 30px !important;
      color: #fff;      
  }
  nav > ul{
      width: 100%;
      display: none;
  }
  nav > ul > li{
      display: block;
      text-align: center;
  }
  .active{
      display: block;
  }
}